name: ht_localization
description: Support for Haitian language translation for flutter applications.

version: 1.0.1
homepage: https://github.com/midsonlajeanty/ht_localization

environment:
  sdk: ">=3.0.3 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
